.question {
    font-family: 'korinna';
    color: white;
    text-shadow: black
}
.difficulty {
    font-family: 'swiss911';
    color: #CCA572;
    text-shadow: black
}
.background {
    background-color: #02059B;
    width: 100vh;
    height:100vh;
}

.center {
    width: 75%;
    margin: 10px auto;
}
  
.main-div {
    height: 100vh;
    width: 100vh;
}