.main-div {
    height: 100vh;
    width: 100vh;
    background-color: #02059B;
}

.logo {
    font-family: 'jeopardy';
    color: white;
    text-shadow: black;
    text-align: center;
    width: 100vh;
}
