.main-div {
    height: 90vh;
    width: 90vw;
    background-color: #02059B;
}

.test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    font-family: 'jeopardy';
    color: white;
    text-shadow: black;
    text-align: center;
    font-size: 3vh;
    width: 90vw;
}

// For Mobile
@media only screen and (max-width: 415px) {
    .form-field {
        width: 42vw
    }
}