<div class="test">
        <div class="logo">
            <h1>JEOPARDY!</h1>
        </div>
    <mat-card class="main-div">
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="100px" class="background" style="margin-right: 1.25vw">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="form-field">
                        <input type="text" placeholder="Category? (Optional)" aria-label="Number" matInput
                            [formControl]="searControl" [matAutocomplete]="auto" [(ngModel)]="chosenCategory">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of options" [value]="option">
                                {{option.title}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-left: 1.25vw">
                    <mat-form-field class="form-field">
                        <mat-label>For how much? (Optional)</mat-label>
                        <mat-select [(ngModel)]="difficultyValue">
                            <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
                                {{difficulty}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 1.25vw">
                    <mat-form-field class="form-field">
                        <input matInput [matDatepicker]="min_picker" placeholder="Min Air Date (Optional)"
                            [(ngModel)]="minDate">
                        <mat-datepicker-toggle matSuffix [for]="min_picker"></mat-datepicker-toggle>
                        <mat-datepicker #min_picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-left: 1.25vw">
                    <mat-form-field class="form-field">
                        <input matInput [matDatepicker]="max_picker" placeholder="Max Air Date (Optional)"
                            style="color: antiquewhite" [(ngModel)]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="max_picker"></mat-datepicker-toggle>
                        <mat-datepicker #max_picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-card-content>

        <mat-card-actions style="text-align: center">
            <button mat-raised-button color="primary" (click)="onSubmit()">
                Find Questions!
            </button>
        </mat-card-actions>

    </mat-card>
</div>