@font-face {
    font-family: 'korinna';
    src: url('../assets/fonts/korinna.ttf')  format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'swiss911';
    src: url('../assets/fonts/swiss911.ttf')  format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'jeopardy';
    src: url('../assets/fonts/jeopardy.ttf')  format('truetype');
    font-weight: bold;
}